<form class="form-horizontal" onsubmit="return false;" id="psucontrol_meross_settings_form">

    <div class="alert alert-block" data-bind="
        visible: message.state.text,
        css: {
            'alert-error': (message.state.level() == 'error'),
            'alert-info': (message.state.level() == 'info'),
            'alert-success': (message.state.level() == 'success'),
        }
    ">
        <i class="fas" data-bind="
            css: {
                'fa-times': (message.state.level() == 'error'),
                'fa-sync': (message.state.level() == 'info'),
                'fa-check': (message.state.level() == 'success'),            
            }
        "></i>
        <div data-bind="text: message.state.text" style="display: inline-block">
            Success!
        </div>
    </div>


    <h3>General</h3>
    <div class="control-group">
        <h4>Account</h4>

        <fieldset>
            <legend>Meross Cloud</legend>
            <div class="control-group">
                <label class="control-label" for="settings-psucontrol-meross-url">API URL:</label>
                <div class="controls">
                    <select
                        id="settings-psucontrol-meross-url"
                        class="input-block-level"
                        data-bind="
                            options: settings.api_urls,
                            optionsText: 'name',
                            optionsValue: 'url',
                            selectedOptions: settings.api_base_url
                        "
                        required=""
                    ></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="settings-psucontrol-meross-login">Login:</label>
                <div class="controls">
                    <input type="text" id="settings-psucontrol-meross-login" class="input-block-level" type="text" data-bind="textInput: settings.user_email" required="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="settings-psucontrol-meross-password">Password:</label>
                <div class="controls">
                    <input type="password" id="settings-psucontrol-meross-password" class="input-block-level" data-bind="textInput: settings.user_password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn" data-bind="click: test_meross_cloud_login">Test login</button>
                </div>
            </div>
        </fieldset>
        
        <div class="control-group" title="">
            <label class="control-label" for="psucontrol-meross-device-list">Device:</label>
            <div class="controls">
                <select 
                    id="psucontrol-meross-device-list"
                    class="input-block-level"
                    data-bind="
                        options: devices,
                        optionsText: 'name',
                        optionsValue: 'dev_id',
                        selectedOptions: settings.target_device_ids,
                        valueAllowUnset: false
                    "
                    multiple="true"
                ></select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn" data-bind="click: fetch_plugin_status">Refresh device list</button>
                <button type="button" class="btn" data-bind="click: toggle_device">Toggle selected device</button>
            </div>
        </div>
    </div>
</form>
